// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;


$navbar-height: 64px !default;
$navbar-height-mobile: 56px !default;

// $primary-background-color: #303030 !default;

@import '@angular/material/prebuilt-themes/purple-green.css';


// body, .modal {
//     background-color: $primary-background-color;
// }
  


/* You can add global styles to this file, and also import other style files */
.canvasContainer {
    position: fixed;
    top: $navbar-height;
    width: calc(100% - 240px);
    height: calc(100% - #{$navbar-height});
  
    @media #{$medium-and-down} {
      top: $navbar-height-mobile;
      width: 100%;
      height: calc(100% - #{$navbar-height-mobile});
    }
  }
  
  .canvas {
    display: block;
    margin: auto;
    cursor: pointer;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.tune-link {
  cursor: pointer;
}

div.tune-view {
  max-width: 1000px;
  background-color: whitesmoke;
  margin: 10px;
  padding: 10px;
}

div.tune-container {
  background-color: whitesmoke;
  padding: 10px;
}